@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  heading: block-inline; 
}


.hero img {
  display:block-inline ;
  width: 100%;
  height: auto;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #152238   ;
  --secondary-color: silver ;
  --accent1-color: grey;
  --accent2-color: #fefae0;
  --accent3-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Merriweather";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #152238;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #152238; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #152238 ;
  --nav-link-color: #fefae0;
  --nav-background-color: #36454f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #152238;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
 font-family: var(--font); 
}
a.active{
  background-color: hotpink;
}
a.one:link{
  color: #ff0000;
}
a.hover{
  background-color: lightgreen;
}
a.visited{
  background-color: cyan;
}
a.one:visited{
  color: #0000ff;
}
a.one:hover{
  color: #ffcc00;
}
a.one:visited{
  color: #0000ff;
}
a.link{
  background-color: yellow;
}
.figure_flex{
  display: flex;
}
.flexbox-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.flexbox-item-1{
  width: 200;
  margin: 0;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
h1{
  color:var(--heading-color);
  text-align:center
}
figcaption{
  text-align:center;
}
.figure_flex{
  width: 200;
}
figure img{
  width:200px;
}
figure{
  padding:0;
  margin:9.5px;
}
.figure_flex{
  display: flex;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
div {
    text-align: center;
    position: center;
}
.class {
    position: absolute;
    align-items: self-start;

}
body {
  font-family: Merriweather, Georgia, serif;
  font-size: 1.2em;
  color: #333;
  background: #fff;
}
tr{
  display: center;
}
header {
  margin: 0 auto;
  width: 650px;
}
fieldseta{
    background-color: black;
    padding: 30px;
}
h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}
form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}
fieldset {
  display: grid;
  background-color: rgb(239, 228, 250);
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
main{
  display: inline-block 0 7 9 8;
}
legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}
label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}
label {
  text-align: right;
  padding-right: 1rem;
}
input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}
section {
  display: grid;
}
footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}
.form-item {
  display: grid;
  align-items: center;
}
.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}
.column2 {
  grid-template-columns: 1fr 2fr;
}
th{
  display: center;
  margin: auto;
}
.col{
  display: center;
  margin: auto;
  border: 2px solid black;
  border-radius:.5em ;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  text-align: center;

}
#scope{
  margin: auto; 
  



  display: center;
}
#map{
  display: block;
  margin: auto; 
  text-align: center;
  border: 2px solid black;
  border-radius:.5em ;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}


